<h2>Post List</h2>
<a href="<%= new_post_path %>" type="button" class="btn btn-primary">Create</a>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Row</th>
    <th scope="col">Post title</th>
    <th scope="col">Category</th>
    <th scope="col">Liked</th>
    <th scope="col">Create date</th>
    <th scope="col">Edit/Delete</th>
  </tr>
  </thead>
  <tbody class="table-group-divider">
  <% @posts.each do |post| %>
    <tr>
      <th scope="row"><%= post.id %></th>
      <td><%= post.title %></td>
      <td><%= post.category.name %></td>
      <td><%= post.liked %></td>
      <td><%= post.created_at %></td>
      <td>
        <%= link_to "Edit", edit_post_path(post.id), class: 'btn btn-warning' %>
        <%= button_to "Delete", post_path(post.id), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: 'btn btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>